body {
    padding: 4vmin;
    box-sizing: border-box;
}

button {
    margin: 45px 0;
    padding: 9px;
}

li {
    font-size: 16px;
}

ul {
    border: 1px solid black;
    transition: all 0.45s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    max-height: 0;
    overflow: hidden;
}